
<html lang="en">
<head>
    <meta charset="UTF-8"/>
</head>
    <title>Title</title>

<body>


<div id="header">

    <div class="row">
        <div class="col-md-9">

            <button class="hamburger"> </button>
            <div class="logo">
                <img src="../images/tbx-logo.png" alt="logo" height="46" width="95">
            </div>
        </div>
        <div  class="col-md-3">
            <div class="loginCage">
                <img class="lgi-img" src="images/pro.png" alt="">
                <p Anjula <br><a href="/logout">Logout</a> </p>
            </div>
        </div>
    </div>
</div>
<md-sidenav-layout class="demo-sidenav-layout">
    <md-sidenav mode="side">
        <button class="selected dash">Dashboard</button>
        <br>
        <button class="content">Content Search</button>
        <br>
        <button class="custom">Add New Content</button>
    </md-sidenav>
    <md-sidenav #end align="end">
        End Side Drawer
        <br>
        <button>Close</button>
    </md-sidenav>
    <!-- <content-search> Loading </content-search>-->

</md-sidenav-layout>


</body>
</html>